@model IEnumerable<HelloMvc6.Models.Message> 

@{
	ViewBag.Title = "Home";
}

@Html.ActionLink("Create", "Create")

<ul class="list-group">
    @foreach (var message in Model) {
        <li class="list-group-item">@message.Text</li>
    }
</ul>